.well.question
  %h3= question.text 
  = link_to "Yes", nil, class: "btn btn-success btn-large"
  = link_to "No", nil, class: "btn btn-danger btn-large"
  = link_to "Don't Know", nil, class: "btn btn-large"